{% extends 'base.html' %}
{% load static %}
        {% block page_title %}
            about us
        {% endblock %}
{% block content_page %}
    <br><br>
<h1>This site is a multipurpose site
We wrote about the history of American cars and their founders, but the main goal of our site
is to sell cars to dear customers. Currently, we work with 5 American car dealers in
Washington, New York, Miami, Texas, and Los Angeles. They put the cars they intend to
sell on this site, and our site is the intermediary.</h1>
    <br><br><br><br><br><br><br><br><br>
{% endblock %}