{% extends 'base.html' %}
{% load static %}
        {% block page_title %}
            contact us
        {% endblock %}
{% block content_page %}
    <br><br><h1>new york representation</h1><br>
    telephone:+1(111)9254781 <br>
    adress:725 5th Ave, New York, NY 10022, USA <br>
    manager:Adam Smit
    <img src="{% static 'images/c.jpg' %}" class="large-image">
    <hr>
        <br><br><h1>Miami representation</h1><br>
    telephone:+1(156)1159765 <br>
    adress:725 6th Ave, miami, MI 10023, USA <br>
    manager:Sarah Biden
    <img src="{% static 'images/d.jpg' %}" class="large-image">
        <hr>
        <br><br><h1>Los Angles representation</h1><br>
    telephone:+1(181)1562711 <br>
    adress:727 6th Ave, Los Angles, LA 10024, USA <br>
    manager:Ava Johns
    <img src="{% static 'images/g.jpg' %}" class="large-image">
        <hr>
        <br><br><h1>Washington representation</h1><br>
    telephone:+1(711)8254111 <br>
    adress:729 6th Ave, Washington, WA 14023, USA <br>
    manager:Tina Trump
    <img src="{% static 'images/e.jpg' %}" class="large-image">
        <hr>
        <br><br><h1>Texas representation</h1><br>
    telephone:+1(187)1193121 <br>
    adress:725 6th Ave, Texas, TE 10023, USA <br>
    manager:Alexis Ocean
    <img src="{% static 'images/f.jpg' %}" class="large-image">
    <br><br><br><br><br><br><br><br><br>
{% endblock %}