{% extends 'base.html' %}

{% block page_title %}
    Change Password
{% endblock %}

{% block content_page %}
    <h1>Do you want change password?</h1>
    <hr>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
{#        <input type="password" name="old_pass" placeholder="old password"><br>#}
{#        <input type="password" name="new_pass1" placeholder="new password1"><br>#}
{#        <input type="password" name="new_pass2" placeholder="new password2"><br>#}
        <button type="submit">ChangePassword</button>

    </form>

            <style>

        form{
            background-image: linear-gradient(to bottom, #101556, #0b3608);
            border: 10px groove #e4ff00;
            width: 30%;
            margin: 0 auto;
            padding: 10px;
            color: azure;
        }
        button{
            background-color: #420746;
            color: white;
            width: 100%;
            cursor: pointer;
        }
        button:hover{
            background-color: #1aff00;
        }
    </style>
{% endblock %}