<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'members:user-register' %}">register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'members:user_login' %}">login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'viewCar' %}">Buying cars</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'mysite:contact_us' %}">contact us</a>
        </li>   
        <li class="nav-item">
          <a class="nav-link" href="{% url 'mysite:about_us' %}">about us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'comments:comments' %}">comment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'members:viewchangepassword' %}">change password</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'members:user_logout' %}">logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>